.bg {
  background-image: url('../media/bg.jpg');
  min-height: 100vh;
  background-repeat: repeat-y;
  background-size: cover;
  z-index: -10;
  padding-top: 120px;
  padding-bottom: 50px;
}

.hr {
  border-color: rgba(255, 255, 255, 0.3);
}
