.bg {
  background-image: url('../media/bg.jpg');
  min-height: 100vh;
  background-repeat: repeat-y;
  background-size: 100% auto;
  z-index: -10;
  padding-top: 120px;
  padding-bottom: 50px;
}

.hr {
  border-color: rgba(255, 255, 255, 0.3);
}

.posterImg {
  border: 1px solid rgba(68, 68, 68, 0.7);
  padding: 5px;
  position: sticky;
  top: 5rem;
}

.tabsComp {
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px double rgba(68, 68, 68, 0.7);
}

.tabContent {
  padding: 15px;
}

.pills {
  color: #ffffff;
}

.pills:hover {
  color: rgba(255, 255, 255, 0.75);
}

.pills.active {
  background-color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 575.98px) {
  .pills + .pills {
    border-top: 1px solid rgba(68, 68, 68, 0.7);
  }

  .pillsHeader {
    border-bottom: 3px double rgba(68, 68, 68, 0.7);
  }
}

.searchInput {
  border: 1px solid #bdbdbd !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.searchInput:focus {
  border: 1px solid #bdbdbd !important;
  box-shadow: none !important;
}
